:root {
  --main-color: #ce4f4a;
  --selection-color: rgba(206, 79, 74, 0.99);
  --background-color: #682320;
  --font-color: #c6c6c6;
}

html {
  height: 100%;
}

.background {
  z-index: -1;
  position: fixed;
  background-image:
  linear-gradient(10deg, rgba(255, 255, 255, 0) 75%, #333 75%),
  linear-gradient(-10deg, rgba(255, 255, 255, 0) 75%, #333 75%),
  linear-gradient(-10deg, rgba(255, 255, 255, 0) 51%, #01a0e4 51%),
  linear-gradient(10deg, rgba(255, 255, 255, 0) 51%, #01a0e4 51%),
  linear-gradient(10deg, rgba(255, 255, 255, 0) 1%, #d13a29 1%),
  linear-gradient(-10deg, rgba(255, 255, 255, 0) 1%, #d13a29 1%);
  display: flex;
  filter: blur(7em);
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  background: gray;
  /*background-image: url('../images/abstrakt-figury-oboi.jpg');*/
  background-size: 100% 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #c6c6c6;
  color: var(--font-color, #c6c6c6);
  font-family: 'Scada', sans-serif;
  font-size: 22px;
  line-height: 1.5;
}

*::selection {
  color: white;
  background-color: #ce4f4a;
  background-color: var(--selection-color, #ce4f4a);
}

*::-moz-selection {
  color: white;
  background-color: #ce4f4a;
  background-color: var(--main-color, #ce4f4a);
}

h1  {
  font-size: 2em;
  font-weight: 100;

}

.main {
  display: flex;
  flex-grow: 1;
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin: 5em auto 2em auto;
  max-width: 760px;
  min-height: 600px;
  background-color: rgba(0,0,0,0.6);
  border-radius: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex-grow: 1;
  align-items: center;
  padding: 1em 4em;
}

header {
  display: flex;
  justify-content: center;
}

.main__photo {
  border-radius: 50%;
  height: 130px;
  margin-bottom: 1em;
  filter: contrast(1.2);
  transition: transform 0.5s;
}

.main__photo:hover {
  transform: scale(1.3);
}

a {
  color: #B9B8B6;
  text-decoration: none;
}

.menu li {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin-right: 0.3em;
}

.menu__button {
  z-index: 100;
  display: flex;
  position: relative;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 1em;
  min-height: 50px;
}

.menu__button:before {
  content: "";
  position: absolute;
  top: 0;
  font-weight: inherit;
  font-size: inherit;
  left: 0;
  width: 100%;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 100%;
  background-color: #ce4f4a;
  background-color: var(--main-color, #ce4f4a);
  transform-origin: top;
  transform: scaleY(0);
  transition: transform 0.6s;
  transition-timing-function: cubic-bezier(0, 0, .1, 1.5);
}

.menu__button--current:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 100%;
  background-color: #ce4f4a;
  background-color: var(--main-color, #ce4f4a);
  transform-origin: top;
  transform: scaleY(1);
  transition: transform 0.6s;
  transition-timing-function: cubic-bezier(0, 0, .1, 1.5);
}


.menu__button__text {
  z-index: 2;
}

.menu__button:hover:not(.menu__button--current):before {
  transform: scaleY(0.99);
}

.menu__button--current .menu__icon{
  transform: translateY(-7px);
}

.menu__button:active:not(.menu__button--current):before{
  filter: brightness(70%);
  box-shadow: 0 -2px 2px 1px rgba(0, 0, 0, 0.5) inset;
}

.menu {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 1em 0;
}

.disabled {
  position: absolute;
  display: flex;
  max-width: calc(760px - 8em);
  flex-direction: column;
  transform: translateY(50px);
  z-index: -1;
  opacity: 0;
}

.content__profile,
.content__skills,
.content__experience,
.content__education{
  transition: transform 0.5s, opacity 0.5s;
}

.content__profile p {
  flex-grow: 1;
}

.item {
  display: flex;
  margin-bottom: 1em;
}

.item__text {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 80%;
}

.place {
  text-align: justify;
}

.years {
  text-align: left;
  color: white;
}

.theme {
  display: flex;
  position: absolute;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgba(0,0,0,0.7);
  padding: 0.3em;
  max-width: 230px;
  border-bottom-right-radius: 10px;
  left: 0;
  top: 0;
}

.color-button {
  padding: 0.2em 0.5em;
  margin-right: 3px;
  opacity: 0.5;
  border-radius: 10px;
  font-size: 0.8em;
}

.color-button:hover {
  cursor: pointer;
  opacity: 1;
}

.color-button:active {
  filter: brightness(60%);
}

footer {
  display: flex;
  justify-content: center;
  align-content: flex-end;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: rgba(0,0,0,0.8);
  width: 100%;
}

.content__profile p,
.content__experience p {
  margin-bottom: 1em;
}

.social {
  margin-right: 1em;
  transition: all 0.5s;
}

.menu__button:hover .menu__icon {
  transform: translateY(-7px);
}

.skills__button:hover .menu__icon {
  transform: translateY(-7px) rotate(-45deg);
}


.menu__icon {
  z-index: 100;
  margin-top: auto;
  transition: all 0.2s;
  transition-timing-function: cubic-bezier(0.42,0,0.58,1);
}




@font-face {
  font-family: 'fontello';
  src: url('../fontello/font/fontello.eot?84513304');
  src: url('../fontello/font/fontello.eot?84513304#iefix') format('embedded-opentype'),
  url('../fontello/font/fontello.woff?84513304') format('woff'),
  url('../fontello/font/fontello.ttf?84513304') format('truetype'),
  url('../fontello/font/fontello.svg?84513304#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon
{
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* You can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-profile {
  color: #c6c6c6;
  color: var(--font-color, #c6c6c6);
  font-size: 1.5em;
}

.icon-education {
  color: #c6c6c6;
  font-size: 1.5em;
}

.icon-skills {
  color: #c6c6c6;
  color: var(--font-color, #c6c6c6);
  font-size: 1.5em;
}

.icon-experiance {
  color: #c6c6c6;
  color: var(--font-color, #c6c6c6);
  font-size: 1.5em;
}

.mail {
  color: #c6c6c6;
  color: var(--font-color, #c6c6c6);
  font-size: 1.5em;
}

.facebook {
  color: #c6c6c6;
  color: var(--font-color, #c6c6c6);
  font-size: 1.5em;
}

.linkedin {
  color: #c6c6c6;
  color: var(--font-color, #c6c6c6);
  font-size: 1.5em;
}

.github {
  color: #c6c6c6;
  color: var(--font-color, #c6c6c6);
  font-size: 1.5em;
}
.github:hover,
.linkedin:hover,
.facebook:hover,
.mail:hover {
  --font-color: var(--main-color);
}

.experience-image {
  display: flex;
  font-size: 2em;
  margin-right: 1em;
  align-items: center;
  color: var(--main-color);
}

.item__education__image {
  display: flex;
  align-items: center;
  margin-right: 1em;
  font-size: 2em;
  font-weight: 600;
  color: var(--main-color);
}