html {
  height: 100%;
  font-size: 22px;
}

body {
  display: flex;
  flex-direction: column;
  background: gray;
  background-image: url('abstrakt-figury-oboi.jpg');
  background-attachment: fixed;
  background-size: 100% 150%;
  background-repeat: no-repeat;
  color: #B9B8B6;
  align-items: center;
  padding: 0;
  margin: 0;
  font-family: 'Scada', sans-serif;
}

.main__block {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 760px;
  background-color: rgba(0,0,0,0.6);
  border-radius: 10px;
  margin-top: 5em;
  margin-bottom: 2em;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 5em;
  padding-left: 5em;
}

header {
  display: flex;
  justify-content: center;
}

.main__photo {
  border-radius: 50%;
  height: 100px;
  filter: contrast(1.2);
  transition: all 0.5s;
}

.education,
.profile,
.skills,
.experience {
  flex-grow: 1;
}

.main__photo:hover {
  transform: scale(1.2);
}

a {
  color: #B9B8B6;
  text-decoration: none;
}

.menu li {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin-right: 3px;
}

.menu__button {
  z-index: 100;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 1em;
  min-height: 50px;
}

current-menu-item,
.menu__button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 100%;
  background-color: rgb(0, 118, 170);
  transform-origin: top;
  transform: scaleY(0);
  transition: transform 0.6s;
  transition-timing-function: cubic-bezier(0, 0, .1, 1.5);
}

.menu-text {
  z-index: 2;
}

.menu li a:hover:not(.current-menu-item):before {
  transform: scaleY(1);
}

.current-menu-item {
  background-color: rgb(0, 118, 170);
}

.current-menu-item .button__image{
  transform: translateY(-7px);
}

.menu li a:active:before{
  background-color: rgb(0, 98, 142);
  box-shadow: 0 -2px 2px 1px rgb(2, 46, 76) inset;
}

.menu {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 1em 0;
  margin: 0;
}

.disabled {
  visibility: hidden;
  position: absolute;
  font-size: 0;
}

footer {
  display: flex;
  justify-content: center;
  align-content: flex-end;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: rgba(0,0,0,0.8);
  margin-top: auto;
  width: 100%;
}

.social {
  width: 26px;
  height: 26px;
  margin-right: 1em;
  background-image: url("spritesheet.png");
}

.mail {
  width: 24px;
  height: 24px;
  background-position: -39px -5px;
}

.facebook {
  width: 24px;
  height: 24px;
  background-position: -5px -39px;
}

.linkedin {
  width: 24px;
  height: 24px;
  background-position: -73px -39px;
}

.github {
  width: 24px;
  height: 24px;
  background-position: -39px -39px;
}

.button__image {
  margin-top: auto;
  transition: all 0.2s;
  transition-timing-function: cubic-bezier(0.42,0,0.58,1);
}

.menu__button:hover .button__image {
  transform: translateY(-7px);
}

.skills__button:hover .button__image {
  transform: translateY(-7px) rotate(-45deg);
}


.button__image {
  background-image: url("spritesheet.png");
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
}

.profile__button .button__image {
  width: 24px;
  height: 24px;
  background-position: -73px -5px;}

.education__button .button__image {
  width: 24px;
  height: 24px;
  background-position: -5px -5px;
}

.skills__button .button__image {
  width: 24px;
  height: 24px;
  background-position: -39px -73px;
}

.experience__button .button__image {
  width: 24px;
  height: 24px;
  background-position: -5px -73px;
}
